
body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif; 
    background-color: #f4f4f4 ;
}
.header, .header-title{
    text-align: center;
}
.hero-banner{ 
    display: flex;
    max-width: 100%;
    height: 150px;
    background-image: url(Images/banner.jpg);
    background-size: cover;
    overflow: hidden;
}

.topnav {
  overflow: hidden;
  background-color: #333;

}
.topnav a {
    color: white;
  }

  li a:hover {
    background-color: #04AA6D;
  }

  li a {
    display: block;
    padding: 15px;
    margin-left: 120px;
    float: left;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

.card1{
    display: flex;
    flex-direction: column;
    padding: 20px;
    text-align: center;
    overflow:hidden
}


.card-container-one{
    display: grid;
    flex-direction: column;
    width: 80%;
    margin-bottom: 30px;
    margin-left: 160px;
    margin-right: 100px;
    background-color: #F08080;
    grid-row: 100px;
    border-radius: 25px;
}
.card-container-two{
    display: grid;
    width: 80%;
    grid-template-columns:1fr 1fr;
    margin-bottom: 30px;
    margin-left: 160px;
    margin-right: 100px;
    background-color: #45B39D;
    border-radius: 25px;

}
.card-container-three{
    display: grid;
    width: 80%;
    grid-template-columns:1fr 1fr 1fr;
    margin-bottom: 30px;
    margin-left: 160px;
    margin-right: 100px;
    background-color: #8E44AD;
    border-radius: 25px;
}
.card-container-four{
    display: grid;
    width: 80%;
    grid-template-columns:1fr 1fr 1fr;
    margin-bottom: 30px;
    margin-left: 160px;
    margin-right: 100px;
    background-color: #2471A3;
    overflow: none;
    border-radius: 25px;
}
.card-container-five{
    display: grid;
    width: 80%;
    grid-template-columns:1fr 1fr 1fr;
    margin-bottom: 80px;
    margin-left: 160px;
    margin-right: 100px;
}

.description{
    flex-direction: column;
    right: 40px;
    top: 121px;
    justify-content: center;
   
}

.photo{
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;   
}

.allpictures{
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 50%;
    height: 90%;
    margin-left: auto;
    margin-right: auto;
}

.footer{
    text-align: center;
    padding: 3px;
    font-size: xx-small;
}

#carouselExample, #carouselExample2, #carouselExample3{
    display: flex;
    height: 100%;
    object-fit: contain;
}

.carousel-inner{
    height: 100%;
}

.carousel-item{
    height: 100%;
}

img{
    height: 100%;
}

.adoptame{
    cursor: pointer;
}
.bottom{
    font-size: x-small;
}

